# IDE
.project
.pydevproject
.idea/
*.iml
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Runtime data output (written by scraper, read by extraction pipeline)
data/
reddit_sample_data/outputs/
*.zip
